<div class="container">

  <h1>Car Show Page</h1>

  <%= link_to 'Home', cars_path %> | <%= link_to 'My Favs', favourites_path %>

  <div class="card car-card">
    <% if @car.favourite.nil? %>
      <%= simple_form_for [@car, @fav] do |f| %><%= f.button :submit, "+ Fav", class: 'btn btn-primary ms-auto' %><% end %>
    <% end %>

    <h2>Car Specs</h2>
    <p>Make: <%= @car.brand %></p>
    <p>Model: <%= @car.model %></p>
    <p>Year: <%= @car.year %></p>
    <p>Fuel: <%= @car.fuel %></p>
    <p>Owned by: <%= @car.owner.nickname %></p>

    <div class="reviews">
      <h3 class="reviews">Reviews</h3>
      <% @car.reviews.each do |review| %>
      <div class="card card-review">
        <p class="card-comment"><%= review.comment %></p>
        <p class="card-comment rating"><%= review.rating %></p>
      </div>
      <% end %>
      <div class="add-review">
        <h4>What do you think!?</h4>

        <%= simple_form_for [@car, @review], html: { class: 'form-new m-2 p-3'} do |f| %>
          <%= f.input :comment, required: true, label_html: { class: 'form-label mb-3' }, input_html: { class: 'form-control mb-3'} %>
          <%= f.input :rating, required: true, collection: Review::RATINGS, label_html: { class: 'form-label mb-3' }, input_html: { class: 'form-control mb-3'} %>
          <%= f.button :submit, class: 'btn btn-primary ms-auto' %>
        <% end %>

      </div>
    </div>

  </div>

</div>
